<div class="jumbotron">
  <h1>Burger of The Day!</h1>
  <h4>Help Bob pick a new burger of the day!</h4>
  <p>To help Bob make some new burgers of the day for this week please input your selections below! The Belchers thank you. </p>
</div>

<div class="row">
  <header class="col-12">
    //todo put some kind of bobs burger image header
    <h3>Burger of The Day</h3>
  </header>
  <div class="col-12">
    <textarea name="burger" id="burger" cols="30" rows="10" placeholder="Say it don't spray it!"></textarea>
    <input type="submit" value="submit">
    <label for="burger">Enter a burger you would want to eat. Then send it to the kitchen!</label>
  </div>
</div>

<footer class="row">
  <div class="col-12">
    <p class="small">No copyright infringment intended. &copy; Whoever.</p>
  </div>
</footer>